*{
    padding: 0;
    margin: 0;
}
body{
background-color: rgb(110, 110, 110);
}

header{
    display: flex;
    align-content: space-around;
    background-color: rgb(233, 233, 229);
    height: 4rem;
    z-index: 1;
    position: relative;
    width: 100%;
}

main{
    margin-top: 0.5rem;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    width: 50%;
    margin: auto;
    display: inline-block;
}
.encabezado{
    width: 100%;
    background-color: rgb(233, 233, 229);
    display: flex;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    text-align: center;
}

.fondo{
    width: 10%;
    height: 3.75rem;
    opacity: 40%;
    z-index: 100;
    position: absolute;
    text-align: center;
}

.imageneco{
    width: 10%;
    text-align: center;
}

.crearusuario{
    margin-right: 1rem;
}

.usu{
    display: inline-flex;
}

.fillusu{
    float: right;
    width: 10.55rem;
    margin-left: 1.7rem;
}

.contrasenia{
    display: inline-flex;
    text-align: right;
}

.login{
    margin-top: -3rem;
    margin-left: 6rem ;  
}

.tuusuario{
    float: right;
    right: 0;
    margin-right: 0;
}

.inicio{
    margin: auto;
    padding: 0;
    display: inline-block;
}

.productos{
    margin: auto;
    padding: 0;
    display: inline-block;
    }

.eventos{
    margin: auto;
    padding: 0;
    display: inline-block;
    }

.nosotros{
    margin: auto;
    padding: 0;
    display: inline-block;
    }



.videoin{
    text-align: center;
}

/*crear tu usuario*/

.userform{
    text-align: center;

    border-style: double;
    display: inline-block;
    margin-left: 35%;
}

.ficha{
    width: 10rem;
    height: 1rem;
}

.phone{
    width: 10rem;
    height: 1rem;
    margin-right: 0.9rem;
}

.tuemail{
    width: 10rem;
    height: 1rem;
    margin-right: -0.1rem;
}

.contra{
    width: 10rem;
    height: 1rem;
    margin-right: 2.6rem;
}

.contra1{
    width: 10rem;
    height: 1rem;
    margin-right: 9.5rem;
}

.reseteo{
    margin-left: 5rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    border-radius: 0.6rem;
}

.enter{
    margin-left: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    border-radius: 0.6rem;
    border-color: black;
}

.singin{
    text-align: center;
    font-size: 1.8rem;
    box-sizing: border-box;
    border: 1rem;
    margin-right: -6rem;
}

.whatsapp{
    width: 2.5rem;
    position: fixed;
    display: block;
    margin-right: 1rem;
    right: 0;
    bottom: 2rem;
    border-radius: 50%;
}

/*evento*/

.h1evento{
    text-align: center;

}

.videopulled{ 
    display: inline-block;
    float: left;
    text-align: left;
}

.vid{
    width: 80%;
    margin-left: 4rem;
    margin-top: 6rem;
}

.videotexto{
    text-align: center;
    font-size: xx-large;
}

.v{
    width: 20%;
    margin-left: 8rem; 
}

.vudeopuleco{
    display: inline-block;
    float: right;
    text-align: right;
}

.tuevento{
    text-align: center;
}

/*producto*/

/*quiero hacer un slide de las fotos y no se como, preguntar*/

.fotoproducto{

    display:block;
}

.slide{
    margin: auto;
    width: 100%;
    height: 200px;

}

.s1{
    background-image: url(../Imagenes/menu.jpg);
    width: 12.5rem;
    height: 15.625rem;
}

.s2{
    background-image: url(../Imagenes/beef1.jpg);
    width: 12.5rem;
    height: 15.625rem;
}

.s3{
    background-image: url(../Imagenes/cooking.jpg);
    width: 12.5rem;
    height: 15.625rem;
}

.s4{
    background-image: url(../Imagenes/preparado.jpg);
    width: 12.5rem;
    height: 15.625rem;
}

.s5{
    background-image: url(../Imagenes/pulled2.jpg);
    width: 12.5rem;
    height: 15.625rem;
}

.arrows{
    position: absolute;
    font-size: 3.3rem;
    top: 50%;
    color: yellow;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 8);
    cursor: pointer;
}
.arrows:hover {
    background-color: rgba(255, 255, 255, 3);
    transform: 0.5s;
}

.tuhamburguesa{
        text-align: center;
     }

.nuevahamburguesa{
        width: 18.15rem;
        height: 5rem;
    }

    .tunombre{
        margin-right: 0.1rem;
    }

.mail{
    margin-left: 0.5rem;
}
   
/*nosotros*/

.nos{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight:bolder;
    font-size: 5rem;
    border-color: white;
    border-style: groove;
    display: inline-flexbox;
    text-align: center;
}

.fotonosotros{
    display: inline-block;
}

.nosotroimg{
    padding: auto;
    float: left;
    display: inline-block;
    text-align: center;
}

.nosotrosimg{
    width: 50rem;
    max-width: 50%;
    max-height: 50%;
    height: auto;
    padding: 0.3rem;
    box-shadow: 0 14px 28px rgba(138, 10, 10, 0.19);
    display: inline-block;
    

}

.pulledvist{
    width: 30%;
    padding: auto;
    display: inline-block;
    float: right;
    text-align: center;
    margin-right: 8rem;
    margin-top: 4rem;
    
}

.nosotrosimagen{
    width: 28rem;
    height: auto;
    padding: 0.3rem;
    text-align: center;
    box-shadow: 0 14px 28px rgba(138, 10, 10, 0.19);
}

footer{
    background-color: rgb(233, 233, 229);
    width: 100%;
    }

.kartimg{
    width: 100%;
    text-align: left;
    margin-left: 10rem;
    margin-top: 2rem;
    position: absolute;
    display: block;
}

.centrofooter{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 1rem;
}

.socialmedia{
    display: inline-flex;
}

.fb{
    margin-right: 2rem;
}

.ig{
    border-radius: 80%;
    margin-bottom: 0.3rem;
    margin-top: -0.1rem;
}