*{
    padding: 0;
    margin: 0;
}
body{
background-color: rgb(110, 110, 110);
}
header{
    display: flex;
    align-content: space-around;
    background-color: rgb(233, 233, 229);
    height: 4rem;
    z-index: 1;
    position: relative;
}


main{
    margin-top: 0.5rem;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    width: 90%;
    margin: auto;
}
.encabezado{
    width: 100%;
    background-color: rgb(233, 233, 229);
    display: flex;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    text-align: center;
}

.fondo{
    padding-left: 8rem;
    width: 10%;
    height: 60px;
    opacity: 40%;
    z-index: 100;
    position: absolute;
}

.imageneco{
    width: 30%;
}


.crearusuario{
    margin-right: 100%;
    right: 100%;
}

.whatsapp{
    position: fixed;
    display: block;
    margin-left: 1500px;
    margin-top: 630px;
    border-radius: 50%;
}


.inicio{
margin: auto;
padding: 0px;
display: inline-block;
}

.productos{
    margin: auto;
    padding: 0px;
    display: inline-block;
    }

.eventos{
    margin: auto;
    padding: 0px;
    display: inline-block;
    }

.nosotros{
    margin: auto;
    padding: 0px;
    display: inline-block;
    }

   

    .fotos{
        width: 40%;
        margin: auto;
        padding-top: 100px;
        overflow: hidden;
        text-align: center;
    }
    .fotos ul{
        display: flex;
        padding: 0%;
        width: 400%;
    }
    .fotos li{
        width: 100%;
        list-style: none;
    }
    .fotos img{
        width: 100%;
    }

    .tuhamburguesa{
        text-align: center;

    }

    .nuevahamburguesa{
        width: 300px;
        height: 80px;

    }
   
    footer{
        margin-top: 1000px;
        background-color: rgb(233, 233, 229);
    }
    