*{
    padding: 0;
    margin: 0;
}
body{
background-color: rgb(110, 110, 110);
}
header{
    background-color: rgb(233, 233, 229);
    z-index: 1;
    padding-inline-start: 40px;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    position: flex;
    margin: -20px;
}




h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.encabezado{
    background-color: rgb(233, 233, 229);
    display: flex;
    margin-left: 7%;
    padding: 15px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    text-align: center;

}

.crearusuario{
    padding: 20px;
    margin-top: 10px;
    margin-left: 1250px;
    z-index: 900;
    list-style: none;

}

.whatsapp{
    position: fixed;
    display: block;
    margin-left: 1500px;
    margin-top: 630px;
    border-radius: 50%;
}


.inicio{
margin: auto;
padding: 0px;
display: inline-block;
}

.productos{
    margin: auto;
    padding: 0px;
    display: inline-block;
    }

.eventos{
    margin: auto;
    padding: 0px;
    display: inline-block;
    }

.nosotros{
    margin: auto;
    padding: 0px;
    display: inline-block;
    }

    .fondo{
        width: 190px;
        height: 60px;
        opacity: 40%;
        z-index: 100;
        margin-top: -50px;
        margin-left: 20px;
        position: absolute;
    }

    .fotos{
        width: 40%;
        margin: auto;
        padding-top: 100px;
        overflow: hidden;
        text-align: center;
    }
    .fotos ul{
        display: flex;
        padding: 0%;
        width: 400%;
    }
    .fotos li{
        width: 100%;
        list-style: none;
    }
    .fotos img{
        width: 100%;
    }

    .tuhamburguesa{
        text-align: center;

    }

    .nuevahamburguesa{
        width: 300px;
        height: 80px;

    }
   
    footer{
        margin-top: 1000px;
        background-color: rgb(233, 233, 229);
    }
    